<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DocumentFormat.OpenXml" version="2.12.1" targetFramework="net462" />
  <package id="Gcef.Data.DataEngine" version="3.1.0" targetFramework="net462" />
  <package id="Gcef.Data.ExpressionInfo" version="3.1.0" targetFramework="net462" />
  <package id="Gcef.Data.VBFunctionLib" version="3.1.0" targetFramework="net462" />
  <package id="GrapeCity.ActiveReports" version="16.1.1" targetFramework="net462" />
  <package id="GrapeCity.ActiveReports.Chart" version="16.1.1" targetFramework="net462" />
  <package id="GrapeCity.ActiveReports.Chart.Win" version="16.1.1" targetFramework="net462" />
  <package id="GrapeCity.ActiveReports.Core.DataProviders" version="2.1.0" targetFramework="net462" />
  <package id="GrapeCity.ActiveReports.Core.Document" version="3.2.0" targetFramework="net462" />
  <package id="GrapeCity.ActiveReports.Core.Document.Drawing.Gc" version="3.2.0" targetFramework="net462" />
  <package id="GrapeCity.ActiveReports.Core.Document.Drawing.Gdi" version="3.2.0" targetFramework="net462" />
  <package id="GrapeCity.ActiveReports.Core.Drawing.Gc" version="3.2.0" targetFramework="net462" />
  <package id="GrapeCity.ActiveReports.Core.Drawing.Gdi" version="3.2.0" targetFramework="net462" />
  <package id="GrapeCity.ActiveReports.Core.Export.Excel.Page" version="3.2.0" targetFramework="net462" />
  <package id="GrapeCity.ActiveReports.Core.Export.Html.Page" version="3.2.0" targetFramework="net462" />
  <package id="GrapeCity.ActiveReports.Core.Export.Image.Page" version="3.2.0" targetFramework="net462" />
  <package id="GrapeCity.ActiveReports.Core.Export.Pdf.Page" version="3.2.0" targetFramework="net462" />
  <package id="GrapeCity.ActiveReports.Core.Export.Pdf.Section" version="3.2.0" targetFramework="net462" />
  <package id="GrapeCity.ActiveReports.Core.Export.Svg.Page" version="3.2.0" targetFramework="net462" />
  <package id="GrapeCity.ActiveReports.Core.Export.Text.Page" version="3.2.0" targetFramework="net462" />
  <package id="GrapeCity.ActiveReports.Core.Export.Tiff.Section" version="3.2.0" targetFramework="net462" />
  <package id="GrapeCity.ActiveReports.Core.Export.Word.Page" version="3.2.0" targetFramework="net462" />
  <package id="GrapeCity.ActiveReports.Core.Rdl" version="3.2.0" targetFramework="net462" />
  <package id="GrapeCity.ActiveReports.Core.Rendering" version="3.2.0" targetFramework="net462" />
  <package id="GrapeCity.ActiveReports.Core.Scripting" version="3.2.0" targetFramework="net462" />
  <package id="GrapeCity.ActiveReports.Core.Svg" version="1.0.1" targetFramework="net462" />
  <package id="GrapeCity.ActiveReports.Design.Win" version="16.1.1" targetFramework="net462" />
  <package id="GrapeCity.ActiveReports.Document" version="16.1.1" targetFramework="net462" />
  <package id="GrapeCity.ActiveReports.Export.Excel" version="16.1.1" targetFramework="net462" />
  <package id="GrapeCity.ActiveReports.Export.Html" version="16.1.1" targetFramework="net462" />
  <package id="GrapeCity.ActiveReports.Export.Image" version="16.1.1" targetFramework="net462" />
  <package id="GrapeCity.ActiveReports.Export.Pdf" version="16.1.1" targetFramework="net462" />
  <package id="GrapeCity.ActiveReports.Export.Word" version="16.1.1" targetFramework="net462" />
  <package id="GrapeCity.ActiveReports.Export.Xml" version="16.1.1" targetFramework="net462" />
  <package id="GrapeCity.ActiveReports.Serializer.VS2022" version="16.1.1" targetFramework="net472" />
  <package id="GrapeCity.ActiveReports.Viewer.Common" version="16.1.1" targetFramework="net462" />
  <package id="GrapeCity.ActiveReports.Viewer.Win" version="16.1.1" targetFramework="net462" />
  <package id="GrapeCity.ActiveReports.Web" version="16.1.1" targetFramework="net462" />
  <package id="GrapeCity.ActiveReports.Web.Design.VS2022" version="16.1.1" targetFramework="net472" />
  <package id="GrapeCity.ActiveReports.Web.Viewer" version="16.1.1" targetFramework="net462" />
  <package id="GrapeCity.DataVisualization.Chart" version="0.4.77" targetFramework="net462" />
  <package id="GrapeCity.Documents.Imaging.Windows" version="5.1.0.790" targetFramework="net462" />
  <package id="GrapeCity.Documents.DX.Windows" version="5.1.0.790" targetFramework="net462" />
  <package id="GrapeCity.Documents.Imaging" version="5.1.0.790" targetFramework="net462" />
  <package id="GrapeCity.Documents.Pdf" version="5.1.0.790" targetFramework="net462" />
  <package id="GrapeCity.ActiveReports.SpreadBuilder" version="1.0.2" targetFramework="net462" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="5.0.0" targetFramework="net462" />
  <package id="Microsoft.CSharp" version="4.5.0" targetFramework="net472" />
  <package id="Microsoft.VisualStudio.DpiAwareness" version="6.1.28916" targetFramework="net462" />
  <package id="Portable.BouncyCastle" version="1.8.2" targetFramework="net462" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net462" />
  <package id="System.Configuration.ConfigurationManager" version="5.0.0" targetFramework="net462" />
  <package id="System.Data.Odbc" version="5.0.0" targetFramework="net462" />
  <package id="System.Data.SqlClient" version="4.8.2" targetFramework="net462" />
  <package id="System.Memory" version="4.5.4" targetFramework="net462" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net462" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="5.0.0" targetFramework="net462" />
  <package id="System.Text.Encodings.Web" version="5.0.1" targetFramework="net462" />
  <package id="System.Text.Json" version="5.0.2" targetFramework="net462" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net462" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net462" />
</packages>