@page "/"

@inject IJSRuntime JSRuntime;

<div id="ar-web-designer" class="ar-web-designer">
    <span class="ar-web-designer__loader"><b>AR Web Designer</b></span>
</div>

@code {

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JSRuntime.InvokeVoidAsync("initDesigner");
        }
    }

}